.menu{
    width: 15%;
    display: flex;
    flex-direction: row;
    border:1px white solid;
    margin-right: 300px;
}


.menu-title{
    color:white
}

.menu-p{
    color:white;
    font-size: 15px;
}

.menu-input{
    display: flex;
    flex-direction: row;    
    align-items: center ;
    height: 30px;
}

.paginado{
    width: 1435px;
    margin-left: 75px;
}

.cards{
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    width: 1500px;
    flex-wrap: wrap;
}
